/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/** {
    -webkit-tap-highlight-color: rgba(0,0,0,0);  make transparent link selection, adjust last value opacity 0 to 1.0 
}*/

html, body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFFFFF;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* allPads Styles */

.allPads {
    border: ridge;
}

#pocket{
    text-align: center;
}
.touched {
    opacity: 0.4;
}

@media only screen and (max-width: 320px){
    div .allPads {
        height: 70px;
    }
}

@media screen and (max-width: 425px) {
    div .allPads {
        height: 80px;
    }
}

@media (min-width:426px) and (max-width: 768px) {
    div .allPads {
        height: 150px;
    }
}

.one{
    background-color:#ff4d4d;
}
.two{
    background-color:#ffc14d;
}
.three{
    background-color:#ffff00;
}
.four{
    background-color:#4dff4d;
}
.five{
    background-color:#4d4dff;
}
.six{
    background-color:#b54dff;
}
.seven{
    background-color:#d24dff;
}
.eight{
    background-color:#ff4d4d;
}
.nine{
    background-color:#ffc14d;
}