div .pad {
    border: ridge;
}

.allPads:hover{
	opacity: 0.4;
}

.allPads.one{
	background-color:#ff4d4d;
}
.allPads.two{
	background-color:#ffc14d;
}
.allPads.three{
	background-color:#ffff00;
}
.allPads.four{
	background-color:#4dff4d;
}
.allPads.five{
	background-color:#4d4dff;
}
.allPads.six{
	background-color:#b54dff;
}
.allPads.seven{
	background-color:#d24dff;
}
.allPads.eight{
	background-color:#ff4d4d;
}
.allPads.nine{
	background-color:#ffc14d;
}

@media only screen and (max-width: 320px){
	div .allPads {
		height: 70px;
	}
}

@media screen and (max-width: 425px) {
	div .allPads {
		height: 80px;
	}
}

@media (min-width:426px) and (max-width: 768px) {
	div .allPads {
		height: 150px;
	}
}